@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: yekanbakh;
  src: url('../public/fonts/YekanBakh.ttf');
}
@font-face {
  font-family: yekanbakhfat;
  src: url('../public/fonts/YekanBakh-Fat.ttf');
}
@font-face {
  font-family: yekanbakhlight;
  src: url('../public/fonts/YekanBakh_Light.ttf');
}

*{
  font-family: yekanbakh;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  height: 2px;
  background: black;
}

.levelsScroll::-webkit-scrollbar {
  width: 5px;
}

.levelsScroll::-webkit-scrollbar-track{
  background: transparent;
}

.levelsScroll::-webkit-scrollbar-thumb{
  height: 2px;
  background: black;
}
